.search-results{
    background: #ADD8E6;
    height: 100vh;
}

.search-results-side{
    background: #ADD8E6;
    height: 100%;
}

.search-results-content{
    background: #ADD8E6;
    padding-bottom: 20px;
    overflow: auto;
}

.tiki{
    padding-top: 50px;
    padding-left: 120px;
}

.tiki-panel{
    width: 72vw;
}

.shopee{
    padding-top: 50px;
    padding-left: 120px;
}

.shopee-panel{
    width: 72vw;
}

.ant-collapse-content {
    background: palegreen;
}

.brand-logo{
    max-height: 4vh;
}

.panel-heading{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
}

.search-results-stat{
    background: #ADD8E6;
    padding-top: 70px;
    padding-bottom: 100px;
    padding-left: 90px;
}
