.search-results{
    background: #ADD8E6;
    padding-bottom: 20px;
}

.tiki{
    padding-top: 50px;
    padding-left: 250px;
}

.tiki-panel{
    width: 72vw;
}

.shopee{
    padding-top: 50px;
    padding-left: 250px;
}

.shopee-panel{
    width: 72vw;
}

.lazada{
    padding-top: 50px;
    padding-left: 250px;
}

.lazada-panel{
    width: 72vw;
}

.ant-collapse-content {
    background: palegreen;
}

.brand-logo{
    max-height: 4vh;
}

.panel-heading{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: aliceblue;
}