@font-face {
    font-family: 'DMC';
    src: url('../../assets/DMC5Font.otf') format('opentype');
}

.logo-heading{
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 11vh;
}

.logo{
    border-radius: 288px;
}

.app-name{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 11vh;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}

.logo-and-name{
    background: #4285F4;
}