.ant-layout-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content1 {
    height: 40vh;
}

.content2 {
    height: 10vh;
}

.content3 {
    height: 10vh;
}

/* Media query for small screens */
@media (max-width: 768px) {
    .ant-layout-content {
        height: auto;
    }

    .content1, .content2, .content3 {
        height: auto;
    }
}

.Home{
    background: #ADD8E6;
}

@font-face {
    font-family: 'DMC';
    src: url('../../assets/DMC5Font.otf') format('opentype');
}

.logo-image{
    border-radius: 288px;
}

.logo{
}

.app-name{
    font-size: 50px;
    font-family: 'DMC', sans-serif;
}

.search-bar{
}

.search-input{
    width: 45vw;
}